body {
    font-size: 1em;
    font-family: Constantia, Georgia, "Times New Roman", Times, serif;
    line-height: 1.2;
    position:relative;
    background: #F2E2C1;
}

/* Common additive classes */
.left,  .float_left  { float:left  }
.right, .float_right { float:right }

.clear {
    clear:both;
    display:block;
    overflow:hidden;
    visibility:hidden;
    height:0px;
}
.clear-left,  .clear_left  { clear:left;  }
.clear-right, .clear_right { clear:right; }

.hide   { display:none }
.block  { display:block  !important; }
.inline { display:inline !important; }

.align_right    { text-align:right;   }
.align_left     { text-align:left;    }
.align_center   { text-align:center;  }
.align_justify  { text-align:justify; }

h1, h2, h3, h4, h5, h6 {font-weight:normal;}

header hgroup {
    text-align: center;
}

header hgroup h1 {
    font-size:1.5em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 12px;
}

header hgroup h2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 8px;
}

header nav {
    text-align:center;
    padding-top: 8px;
}

header nav li {
    display: inline;
    font-size: 0.8em;
    font-variant: small-caps;
}

article h1 {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
}

article h2 {
    font-weight: bold;
    padding-left: 24px;
}

article h2, article p, article li  {
    padding-top: 6px;
}

article header nav {
    padding-top: 0;
}

article blockquote {
    padding-right: 24px;
    padding-left: 24px;
}

article ol {
    list-style: inside decimal;
}

article ul {
    list-style: inside disc;
}

article li {
    display: list-item;
}

section#comments {
    padding-left: 36px;
    padding-right: 36px;
}

aside h1 {
    font-weight: bold;
    padding-top: 9px;
    padding-left: 24px;
}

aside h2 {
    font-style: italic;
}

aside h2, aside p, aside li {
    padding-top: 6px;
}

footer {
    font-size: 0.8em;
}

footer p {
    padding-top: 4px;
}

footer nav {
    text-align:center;
    padding-top: 8px;
    padding-bottom: 4px;
}

footer nav li {
    display: inline;
/*  font-size: 0.8em; */
    font-variant: small-caps;
}

sup {
    vertical-align: baseline;
    font-size: 0.8em;
    position: relative;
    top: -0.4em;
}
