<nav>
  <ul>
    {% if page.previous.url %}
    <li>
      <a href="{{ page.previous.url }}" rel="prev"
         title="Previous post: {{ page.previous.title }}"
         >« {{ page.previous.title }}</a>
    </li>
    {% endif %}

    <li>
      <a href="/blog" rel="up"
         >Blog Home</a>
    </li>

    {% if page.next.url %}
    <li>
      <a href="{{ page.next.url }}" rel="next"
         title="Next: {{ page.next.title }}"
         >{{ page.next.title }} »</a>
    </li>
    {% endif %}

    <br />
    <li>
      {% if page.comments %}
        <a href="#comments">
          {{ page.comments }}
          comment{% if page.comments > 1%}s{% endif %}
        </a>
      {% else %}
        No comments
      {% endif %}
    </li>
  </ul>
</nav>
